body { 
    background-image: url('Imagenes/FONDO.JPG');
    margin:0px; 
    text-align:center; }
#gameScreen { 
    width:70%; 
    height:90%; 
    margin:5px 0px 5px 5px; 
    border:1px solid #888888; 
     }
